﻿@model MvcApplication1.Areas.ContactDetails.Models.ContactDetails
 
@{
    ViewBag.Title = "Index";
}

    @using (Html.BeginForm("Index", "Management", FormMethod.Post))
    {
    <fieldset>
        <legend>ContactDetails</legend>
        <form>
            <table>
                <tr>
                    <td colspan="3">
                        @Html.LabelFor(model => model.FirstName)<br />
                        @Html.TextBoxFor(model => model.FirstName) <br />
                    </td>
                </tr>
                <tr> 
                    <td colspan="3">
                        @Html.LabelFor(model => model.LastName) <br />
                        @Html.TextBoxFor(model => model.LastName) <br />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        @Html.LabelFor(model => model.Email) <br />
                        @Html.TextBoxFor(model => model.Email) <br />
                    </td>                 
                </tr>
                <tr>
                   <td> @Html.LabelFor(model => model.CellPhone) <br />
                        @Html.TextBoxFor(model => model.CellPhone.AreaCode) 
                        @Html.TextBoxFor(model => model.CellPhone.CountryCode)  
                        @Html.TextBoxFor(model => model.CellPhone.PhoneNumber) </td>
                </tr>
                <tr>
                     
                   <td> @Html.LabelFor(model => model.HomePhone) <br /> 
                        @Html.TextBoxFor(model => model.HomePhone.AreaCode) 
                        @Html.TextBoxFor(model => model.HomePhone.CountryCode) 
                        @Html.TextBoxFor(model => model.HomePhone.PhoneNumber) </td>
                </tr>
                <tr>
                    <td colspan="3">
                        @Html.LabelFor(model => model.HomeAddress.Line1) <br />
                        @Html.TextBoxFor(model => model.HomeAddress.Line1)
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        @Html.LabelFor(model => model.HomeAddress.Line2) <br />
                        @Html.TextBoxFor(model => model.HomeAddress.Line2) 
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        @Html.LabelFor(model => model.HomeAddress.Line3) <br />
                        @Html.TextBoxFor(model => model.HomeAddress.Line3)
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        @Html.LabelFor(model => model.HomeAddress.City) <br />
                        @Html.TextBoxFor(model => model.HomeAddress.City)
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        @Html.LabelFor(model => model.HomeAddress.Province) <br />
                        @Html.TextBoxFor(model => model.HomeAddress.Province)
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        @Html.LabelFor(model => model.HomeAddress.Country) <br />
                        @Html.TextBoxFor(model => model.HomeAddress.Country)
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        @Html.LabelFor(model => model.HomeAddress.PostalCode) <br />
                        @Html.TextBoxFor(model => model.HomeAddress.PostalCode)
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" name="createBtn" value="Create"/>
                    </td>
                </tr>
            </table>
        </form>
    </fieldset>
    }